@charset "utf-8";

/* 基础样式表， 可以引入各个样式表中, Tli, 2016-08 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    background: transparent;
    border: 0;
    font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑, STHeiti, MingLiu, Tahoma, Arial, Roboto, "Droid Sans", "Helvetica Neue", "Droid Sans Fallback", "Heiti SC", sans-self;
    /*font-size: 100%;*/
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}

body { line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { display: block; }

nav ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

a {
    background: transparent;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

/* change colours to suit your needs */

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

/* change colours to suit your needs */

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del { text-decoration: line-through; }

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* change border colour to suit your needs */

hr {
    border: 0;
    border-top: 1px solid #cccccc;
    display: block;
    height: 1px;
    margin: 1em 0;
    padding: 0;
}

input, select { vertical-align: middle; }

/*textarea, input[type='text']{ padding-left: 2px;}*/

/*输入框内文字距离左边框*/

/*select, input[type='text']{ height: 23px;}*/

/*选择及输入框高度*/

input[type="button"] { cursor: pointer; }

select, textarea, input[class='type'], 
input[type='button'] { border: 1px solid #a4bed4 !important; }

select, textarea, input[type='text'], 
input[type='button'], input[type='checkbox'], 
input[type='radio'] { vertical-align: middle; }