.filetype-icons{ background: url('/Styles/Xml/filetype-icons.jpg'); }
.addfile-16x16 { background-position:  -0px -0px; }
.download { background-position:  -16px -0px; }
.edit { background-position:  -32px -0px; }
