<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
	<system.web>
		<compilation debug="true" targetFramework="4.8">
			<assemblies>
				<add assembly="stdole, Version=7.0.3300.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<!--<add assembly="System.Net.Http, Version=4.2.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>-->
				<add assembly="System.ComponentModel.Composition, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Net.Http, Version=4.2.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
			</assemblies>
		</compilation>
		<!--最大上传文件大小及响应时间-->
		<httpRuntime maxRequestLength="104857600" executionTimeout="3600" requestValidationMode="2.0" targetFramework="4.5"/>
	</system.web>
	<connectionStrings>
		<!--<add name="ConnStr" connectionString="Server=116.70.2.96,1455; Database=MSO;Persist Security Info=True;User ID=sa;Password=Msd@123456" />-->
		<!--<add name="ConnStr" connectionString="Server=.; Database=MSO-ENN;Persist Security Info=True;User ID=sa;Password=sa@123" />-->
		<add name="ConnStr" connectionString="Server=.; Database=Test;Persist Security Info=True;User ID=sa;password=sa@123"/>
		<!--<add name="ConnStr" connectionString="Server=.; Database=Processist;Persist Security Info=True;User ID=sa;Password=sa@123" />-->
		<!--<add name="sqlite" connectionString="Data Source=|DataDirectory|\MusicList.db;Pooling=true;FailIfMissing=false"
         providerName="System.Data.SQLite" />-->
		<add name="sqlite" connectionString="Data Source=|DataDirectory|\Local.db;Initial Catalog=sqlite;Integrated Security=True;Max Pool Size=10"/>
		<add name="DefaultConnection" connectionString="Data Source=|DataDirectory|\DataSetDb.sdf" providerName="System.Data.SqlServerCe.4.0"/>
		<add name="ModelDConnection" connectionString="Data Source=|DataDirectory|\ModelDb.sdf" providerName="System.Data.SqlServerCe.4.0"/>
	</connectionStrings>
	<appSettings>
		<add key="sqlite" value="Data Source=E:\Db\SQLite\MediaCenter.db;Initial Catalog=sqlite;Integrated Security=True;Max Pool Size=10"/>
		<!-- 默认分页大小 -->
		<add key="DefalutPageSize" value="10"/>
		<!--导出pdf水印图片的地址-->
		<add key="WatermarkName" value="C N E P G"/>
		<add key="WatermarkFontPath" value="C:\WINDOWS\Fonts\ARLRDBD.TTF"/>
		<add key="WatermarkFilePath" value="\Images\cnepg.png"/>
		<!-- 默认媒体目录 -->
		<add key="DefalutVideo" value="E:\VideoTest\Videos"/>
		<add key="DefalutAudio" value="E:\MusicTest\Music"/>
		<add key="DefalutImage" value="E:\Images"/>
		<add key="DefalutBook" value="E:\eBook"/>
		<!-- 爱数测试平台参数 -->
		<add key="AnyShareServer" value="zhdoc.cecep.cn"/>
		<add key="AnyShareAccount" value="interface_test"/>
		<add key="AnySharePassword" value="cecep@123"/>
		<add key="AnyShareRootDocId" value="gns://7F45B54D47A242FC837EB31BAD9940D1"/>
		<add key="ASRecycleRootDocId" value="gns://7F45B54D47A242FC837EB31BAD9940D1/74E66A0B83DB4FFE8A2371FDF7D04B24"/>
		<add key="AnySharePublicKey" value="uyS9A3GjFB7pknYcV08aogAQQgxEYUSSLADwfvs8dSDYEhCjxm3sQ7daI3DQHNHyPhv8k7kHIB9RFvKaLIFJ4tJnExOgp45FW7/CC4ArocvuHrvtpQKQ8EDw/U6+ifJNtUbrtrFleWdVUbkBahpv3Ob2kzkBOVRTiFz1U2mtuZk="/>
		<!-- 爱数正式平台参数 -->
		<!--    
    <add key="AnyShareServer" value="zhdoc.cecep.cn"/>
    <add key="AnyShareAccount" value="networkuniversity"/>
    <add key="AnySharePassword" value="P@ssw0rd01!"/>
    <add key="AnyShareRootDocId" value="gns://1C0672265D4D403D9A6D00F5B3089C17"/>
    <add key="ASRecycleRootDocId" value="gns://1C0672265D4D403D9A6D00F5B3089C17/4911795156B64BEE9BE56ABE016261DF"/>
    <add key="AnySharePublicKey" value="uyS9A3GjFB7pknYcV08aogAQQgxEYUSSLADwfvs8dSDYEhCjxm3sQ7daI3DQHNHyPhv8k7kHIB9RFvKaLIFJ4tJnExOgp45FW7/CC4ArocvuHrvtpQKQ8EDw/U6+ifJNtUbrtrFleWdVUbkBahpv3Ob2kzkBOVRTiFz1U2mtuZk="/>
    -->
	</appSettings>
	<system.webServer>
		<staticContent>
			<!--<mimeMap fileExtension=".less" mimeType="text/css"/>-->
			<!--<mimeMap fileExtension=".properties" mimeType="text/plain"/>-->
			<!--<mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />-->
		</staticContent>
		<security>
			<requestFiltering>
				<!--允许最大上传文件大小-->
				<requestLimits maxAllowedContentLength="900000000"/>
			</requestFiltering>
		</security>
	</system.webServer>
</configuration>