<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>

  <appSettings>

    <!--工具文件夹-->

    <add key="ffmpeg" value="D:\\Codes\\ffmpeg\\ffmpeg-2024-01-17-git-8e23ebe6f9-essentials_build\\bin\\ffmpeg.exe"/>

    <add key="mencoder" value="mencoder/mencoder.exe"/>

    <add key="mplayer" value="mencoder/mplayer.exe"/>

    <!--上传文件的路径-->

    <add key="upfile" value="UpFiles"/>

    <!--上专文件图片路径-->

    <add key="imgfile" value="ImgFile"/>

    <!--上传文件图片大小-->

    <add key="CatchFlvImgSize" value="240x180"/>

    <add key="widthSize" value="400"/>

    <add key="heightSize" value="350"/>

    <!--转换后文件路径-->

    <add key="playfile" value="PlayFiles"/>

  </appSettings>
</configuration>
